.link {
  display: flex;
  margin: 10px 0 10px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #feca7d;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #5f5050;
  transition: border .25s cubic-bezier(.4,0,.2,1);
}
.link:hover {
  border: 2px solid #5f5050;
}

.container {
  display: flex;
  gap: 10px;
}
.img {
  border-radius: 10px;
}
.containerInfo {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  gap: 20px;


}
.title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
  color: #524343;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  color: #5f5050;
}

.list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  color: #5f5050; 
  gap: 10px;
}
.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  color: #5f5050;  
}

.textOverview {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.71;
  color: #5f5050;
  margin-bottom: 20px; 
}

.itemLink {
  max-width: max-content;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #4e4444;
}

.itemLink:hover {
  color: #f6bb62;
  border-bottom: 2px solid #f6bb62;
  
}